trigger:
- main

variables:
- group: TP7-Variables   # SOLO SONAR_TOKEN adentro

pool:
  vmImage: 'ubuntu-latest'

steps:
# 1) Instalar Node.js
- task: UseNode@1
  inputs:
    version: '20.x'
    checkLatest: true

# 2) Backend - instalar deps
- script: |
    cd backend
    npm install
  displayName: "Instalar dependencias del backend"

# 3) Backend - tests + coverage
- script: |
    cd backend
    npm test -- --coverage
  displayName: "Ejecutar tests backend"

# 4) Frontend - instalar deps
- script: |
    cd frontend
    npm install
  displayName: "Instalar dependencias frontend"

# 5) Frontend - tests + coverage
- script: |
    cd frontend
    npm test -- --coverage
  displayName: "Ejecutar tests frontend"

# 6) Instalar SonarScanner (.NET global tool)
- task: Bash@3
  displayName: "Instalar SonarScanner"
  inputs:
    targetType: inline
    script: |
      dotnet tool install --global dotnet-sonarscanner

# 7) SonarCloud - BEGIN
- task: Bash@3
  displayName: "SonarCloud BEGIN"
  inputs:
    targetType: inline
    script: |
      export PATH="$PATH:$HOME/.dotnet/tools"

      echo "Usando SonarCloud con PROJECT_KEY=Cervellini2501_TP7-IngSoftIII y ORG=cervellini2501"

      dotnet sonarscanner begin \
        /k:"Cervellini2501_TP7-IngSoftIII" \
        /o:"cervellini2501" \
        /d:sonar.host.url="https://sonarcloud.io" \
        /d:sonar.token="$(SONAR_TOKEN)" \
        /d:sonar.javascript.lcov.reportPaths="backend/coverage/lcov.info,frontend/coverage/lcov.info"

# 8) Build vacío (obligatorio para cerrar el análisis)
- task: Bash@3
  displayName: "Fake build"
  inputs:
    targetType: inline
    script: |
      echo "Build necesario para SonarScanner (no compila nada, solo cumple el paso)."

# 9) SonarCloud - END
- task: Bash@3
  displayName: "SonarCloud END"
  inputs:
    targetType: inline
    script: |
      export PATH="$PATH:$HOME/.dotnet/tools"
      dotnet sonarscanner end /d:sonar.token="$(SONAR_TOKEN)"
